@media screen and (max-width: 768px) and (min-width: 480px) {

  .social-icon {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {

  .social-icons {
    font-size: 16px;
  }
}

@media screen and (max-width: 383px) {

  .logo {
    margin-top: 2 * $base-unit;
  }
  
  .has-inline-content {
    display: inline-flex;
    margin: 6px 0;
  }

  .social-icons {
    max-width: 200px;
    margin: 10px auto;
    padding: 0;
  }
}