<div class="header section-bg" id="home">
  <div class="overlay section-overlay">
    <div class="js-menu-button">
      <div class="bar-top">
        <div class="bar-half-left"></div>
        <div class="bar-half-right"></div>
      </div>
      <div class="bar-middle"></div>
      <div class="bar-bottom">
        <div class="bar-half-left"></div>
        <div class="bar-half-right"></div>
      </div>
    </div>
    <div class="menu">
      <a class="menu-item subheading" href="#work">Work</a><a class="menu-item subheading" href="#about">About</a><a class="menu-item subheading" href="#contact">Contact</a>
    </div>
    <div class="header-content push-down-content">
      <img alt="logo image" class="logo logo-header" src="./assets/images/logo.svg" />
      <h3 class="subheading push-down-unit">
        Agata Kubiak
      </h3>
      <h1 class="heading header-title">
        Portfolio<a class="button button-ghost" href="#work">view work</a>
      </h1>
    </div>
  </div>
</div>
