body {
  margin: 0;
}

h1,
h2,
h3,
.button {
  font-family: 'bonvenocflight';
  text-transform: uppercase;
  margin: 0;
}

.section-bg {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  height: 720px;
  width: 100%;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.heading {
  font-weight: 300;
  color: $alt;
  letter-spacing: $base-unit;
}

.subheading {
  font-size: 37px;
  color: $alt;
  font-weight: 100;
  letter-spacing: 3px;
}

.section-heading {
  position: relative;
  font-size: $large-font;
  font-weight: 300;
  letter-spacing: $base-unit;
}

@mixin triangle-pseudoclass {
  background-color: $white;
  content: '';
  position: absolute;
}

// ghost button appearing
.button-ghost {
  opacity: 0;
  transform: translate (0, -20px);
}

.btn-appear {
  opacity: 1;
  transform: translate (0, 0);
  transition: all .5s ease-in-out;
}

@media screen and (min-width: 1400px) {
  body {
    max-width: 1200px;
    margin: 0 auto;
  }
}