.bold-text {
  font-weight: 900;
}

.push-down-content {
  margin-top: 10%;
}

.push-down-10 {
  margin-top: $base-unit;
}

.has-inline-content {
  display: inline;
}

.brand-text {
  color: $brand;
}

.font-bigger {
  font-size: 20px;
  letter-spacing: 1px;
}
