@charset 'utf-8';
/* import variables */
@import 'variables';
@import 'fonts';

/* import components */
@import 'components/buttons';
@import 'components/icons';

/* import section styles */
@import 'section-styles/main';
@import 'section-styles/about';
@import 'section-styles/work';
@import 'section-styles/contact';
@import 'section-styles/footer';

/* import media queries */

body {
  margin: 0;
}
h1,
h2,
h3,
button {
  font-family: 'bonvenocflight';
  text-transform: uppercase;
  margin: 0;
}
