body {
  margin: 0;
}
h1,
h2,
h3,
button {
  font-family: 'bonvenocflight';
  text-transform: uppercase;
  margin: 0;
}
.section-bg {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  width: 100%;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.heading {
  font-weight: 300;
  color: $grey;
  letter-spacing: $base-unit;
}
.sub-heading {
  font-size: 37px;
  color: $grey;
  font-weight: 100;
  letter-spacing: 3px;
}
.section-heading {
  position: absolute;
  font-size: $large-font;
  font-weight: 300;
  letter-spacing: $base-unit;
}
.triangle-pseudoclass {
  background-color: $white;
  content: '';
  position: absolute;
}
