/* Typography - font sizes */

/* headings */
$large-font: 100px;
/* subheadings */
$medium-font: 54px;
/* buttons, footer content */
$basic-font-big: 18.5px;
/* content */
$basic-font-small: 16px;


/* Colors */
$white: #fff;
$grey: #808080;
$sea-green: #52BEBE;

/* units */
$base-unit: 10px;

// mediaqueries font-sizes
/* headings */
$mq-large-font: 80px;
/* subheadings */
$mq-big-font: 50px;
$mq-medium-font: 25px;
/* buttons, footer content */
$mq-basic-font-big: 16px;
/* content */
$mq-basic-font-small: 12px;
