/* Typography - font sizes */

/* headings */
$large-font: 100px;
/* subheadings */
$medium-font: 54px;
/* buttons, footer content */
$basic-font-big: 18.5px;
/* content */
$basic-font-small: 16px;


/* Colors */
$white: #fff;
$grey: #808080;
$sea-green: #52BEBE;