button,
button::after {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

button {
  background: none;
  border: 2px solid $grey;
  color: $grey;
  font-size: $basic-font-big;
  padding: 15px 35px;
  position: relative;
  cursor: pointer;
}

button::before,
button::after {
  background: $grey;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: $white;
  z-index: 1;
}

button:focus {
  outline: none;
}

.ghost-button {
  overflow: hidden;
}

.ghost-button::after {
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(40deg);
  transition-duration: .6s;
  transform-origin: top right;
  width: 0;
}

.ghost-button:hover:after {
  height: 100%;
  width: 135%;
}

.narrow-button {
  margin-top: 2 * $base-unit;
  padding: 10px 50px;
  
}
.send-button {
  background-color: $white;
  border: 2px solid white;
  color: $sea-green;
  margin-top: 2 * $base-unit;
  padding: 10px 30px;
  &::before,
  &::after {
    background: $sea-green;
    content: '';
    position: absolute;
    z-index: -1;
  }

}
