button,
button::after {
  transition: all .3s;
}

button {
  background: none;
  border: 2px solid $alt;
  color: $alt;
  font-size: $basic-font-big;
  width: 200px;
  height: 60px;
  position: relative;
  cursor: pointer;

  a {
    color: $alt;
    text-decoration: none;
  }
}

button::before,
button::after {
  background: $alt;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: $white;
  z-index: 1;

  a {
    color: $white;
  }
}

button:focus {
  outline: none;
}

.ghost-button {
  overflow: hidden;
}

.ghost-button::after {
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(40deg);
  transition-duration: .6s;
  transform-origin: top right;
  width: 0;
}

.ghost-button:hover:after {
  height: 100%;
  width: 135%;
}



.send-button {
  background-color: $white;
  border: 2px solid $white;
  color: $brand;
  margin-top: 2 * $base-unit;
  width: auto;

  &::before,
  &::after {
    background: $brand;
    content: '';
    position: absolute;
    z-index: -1;
  }
}

.small-button {
  font-size: 15px;
  width: 150px;
  height: 40px;
  padding: 0;
}
@media screen and (max-width: 528px) {

}

// menu button
.menu-button {
  margin: 30px 20px;
  float: right;
  width: 56px;
  height: 56px;
  cursor: pointer;
  position: relative;
  user-select: none;
  z-index: 1;

  .bar-top,
  .bar-bottom {
    width: 52px;
    animation: scales .6s;

    .bar-left {
      width: 52%;
      height: 4px;
      background: $alt;
      display: inline-block;
      margin-right: 0;
      position: relative;
      transition: all .2s;
    }

    .bar-right {
      width: 52%;
      height: 4px;
      background: $alt;
      display: inline-block;
      margin-right: -4px;
      position: relative;
      transition: all .2s;
    }
  }

  .bar-middle {
    width: 54px;
    height: 0;
    display: inline-block;
    border: 2px solid $alt;
    box-sizing: border-box;
    animation: scales .5s;
  }
}

.menu-button.active {
  padding-top: 5px;
  box-sizing: border-box;
  
  .bar-top {
    animation: scales .5s;

    .bar-left {
      transform: rotate(45deg) scale(1.2);
      left: 4px;
      top: 0;
      border-radius: 5px;
    }

    .bar-right {
      transform: rotate(-45deg) scale(1.2);
      right: 4px;
      top: 1px;
      border-radius: 5px;
    }
  }

  .bar-middle {
    display: none;
  }

  .bar-bottom {
    animation: scales .5s;

    .bar-left {
      transform: rotate(-45deg) scale(1.2);
      left: 4px;
      top: 2px;
      border-radius: 5px;
    }

    .bar-right {
      transform: rotate(45deg) scale(1.2);
      right: 4px;
      top: 1px;
      border-radius: 5px;
    }
  }
}
