.section-contact {
  background-image: url('../assets/images/contact.jpg');
  text-align: right;
  height: 770px;

  .section-overlay {
    background-color: rgba(255, 255, 255, .6);
  }

  .section-heading {
    right: 30px;
  }

  .contact-content {
    position: relative;
    color: $white;
    text-align: center;
    float: right;
    z-index: 1;
  }

  .button {
    opacity: 1;
  }
}

.section-contact:before {
  background-color: $brand;
  content: '';
  position: absolute;
  left: -20%;
  top: 20%;
  transform: rotate(-75deg);
  height: 1000px;
  width: 200%;
  z-index: 1;
}

.contact-info {
  font-family: 'Lato';
  font-size: 14px;
  text-align: left;
}
