.section-4-contact {
  @extend .section-bg;
  background-image: url('../images/contact.jpg');
  text-align: right;

  .section-4-overlay {
    @extend .overlay;
    background-color: rgba(255, 255, 255, .6);
  }

  .section-content {
    position: relative;
    color: $white;
    text-align: center;
    max-width: 50%;
    float: right;
    margin-right: 5 * $base-unit;
    z-index: 1;
  }

  h2 {
    @extend .section-heading;
    top: -20%;
    right: -10%;
    z-index: 1;
  }

  .ghost-button {
    opacity: 1;
  }
}

.section-4-contact:before {
  background-color: $sea-green;
  content: '';
  position: absolute;
  left: -20%;
  top: 20%;
  transform: rotate(-75deg);
  height: 1000px;
  width: 200%;
  z-index: 1;
}

.info {
  font-family: 'Lato';
  font-size: 14px;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: $sea-green;
}

.form-input {
  background-color: $sea-green;
  border: 2px solid $white;
  padding: $base-unit 2 * $base-unit;
  margin: $base-unit 0;
  width: 350px;
  font-size: $basic-font-small;
  font-family: 'bonvenocflight';
  font-weight: 300;
  color: $white;
  text-transform: uppercase;
  outline: none;
}

.message {
  height: 170px;
}

// input color

::-webkit-input-placeholder {
   color: $white;
   opacity: .8;
}

:-moz-placeholder {
   color: $white;
   opacity: .8;
}

::-moz-placeholder { 
   color: $white; 
   opacity: .8;
}

:-ms-input-placeholder {  
   color: $white; 
   opacity: .8;
}
