.section-1-header {
  @extend .section-bg;
  background-image: url('../images/desk.jpg');
  text-align: center;

  .section-1-overlay {
    @extend .overlay;
    background-color: rgba(255, 255, 255, .8);
  }

  h1 {
    @extend .heading;
    font-size: 112px;
    margin-top: $base-unit;
    margin-bottom: 4 * $base-unit;
  }

  h3 {
    @extend .sub-heading;
    margin-top: $base-unit;
  }
  button {
    @extend .ghost-button;
  }
}

.section-1-header:before {
  @extend .triangle-pseudoclass;
  left: 5%;
  transform: rotate(45deg);
  height: 300px;
  width: 200%;
}

.section-1-header:after {
  @extend .triangle-pseudoclass;
  right: 35%;
  top: 10%;
  transform: rotate(45deg);
  height: 300px;
  width: 200%;
}

.section-content {
  margin-top: 10%;
}

.logo {
  height: 60px;
  width: 62px;
}
// menu styling
.menu {
  max-height: 0;
  position: absolute;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 125px;
  background-color: $white;
  border-bottom: 0;
  transition: all .2s ease;
}

.menu-item {
  @extend .sub-heading;
  display: none;
  flex-direction: row;
  font-family: 'bonvenocflight';
  text-transform: uppercase;
  text-decoration: none;
  transition: all .2s ease;
}

.menu-active-js {
  max-height: 125px;
  border-bottom: 1px solid $grey;
  transition: all .2s ease;

  .menu-item {
    display: inline-block;
  }
}

.white-letters {
  color: $white;
}
