.section-3-work {
  @extend .section-bg;
  background-image: url('../images/work-cover.jpg');

  .section-3-overlay {
    @extend .overlay;
    background-color: rgba(255, 255, 255, .6);
  }

  .section-content {
    position: relative;
    color: $grey;
    text-align: center;
    float: left;
    z-index: 1;
    margin-top: 30%;
    margin-left: 2 *$base-unit;
  }

  h2 {
    font-size: $large-font;
    font-weight: 300;
    color: $grey;
    letter-spacing: $base-unit;
    margin-bottom: 10px;
    z-index: 1;
  }

  button {
    z-index: 1;
  }

  button {
    @extend .ghost-button;
    opacity: 1;
  }
}

.section-3-work:after {
  @extend .triangle-pseudoclass;
  right: 5%;
  top: -10%;
  transform: rotate(55deg);
  height: 500px;
  width: 200%;
}

// work-subsections
.subsection {
  position: relative;
  width: 100%;
  height: 300px;
  background-size: cover;

  .subsection-overlay {
    @extend .overlay;
    background-color: rgba(0, 0, 0, .6);
    z-index: 0;
  }
}

.section-3a-web {
  background-image: url('../images/web.jpg');
  overflow: hidden;
}

.section-3c-draw {
  background-image: url('../images/draw.jpg');
  overflow: hidden;
}

.section-3a-web,
.section-3c-draw {

  .subsection-content {
    @extend .subsection-basic;

    h3 {
      @extend .sub-heading;
      text-align: right;
      float: right;
      max-width: 310px;
      margin: 7% 5% 0 0;
    }

    .white-button {
      margin: 10% 0 0 10%;
    }
  }

  &:before {
    @extend .triangle-pseudoclass;
    right: -77%;
    top: 40%;
    transform: rotate(-65deg);
    height: 500px;
    width: 200%;
    z-index: 1;
  }
}

.section-3b-graphic {
  background-image: url('../images/graphic.jpg');
  overflow: hidden;

  &:after {
    @extend .triangle-pseudoclass;
    right: -15%;
    top: -10%;
    transform: rotate(55deg);
    height: 500px;
    width: 200%;
    z-index: 1;
  }

  .subsection-content {
    @extend .subsection-basic;

    h3 {
      @extend .sub-heading;
      text-align: left;
      max-width: 300px;
      margin: 7% 0 0 5%;
    }

    .white-button {
      position: relative;
      float: right;
      margin: -10% 10% 0 0;
    }
  }
}

.work-subsections {
  display: none;
}
