.header {
  background-image: url('../../assets/images/desk.jpg');
  text-align: center;

  .section-overlay {
    background-color: rgba(255, 255, 255, .8);
  }

  .header-content {
    display: block;
  }

  .header-title {
    font-size: 112px;
    margin-top: $base-unit;
    margin-bottom: 4 * $base-unit;
  }
  .button {
    margin-top: 30px;
  }
}

.header:before {
  @include triangle-pseudoclass;

  left: 5%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 300px;
  width: 200%;
}

.header:after {
  @include triangle-pseudoclass;

  right: 35%;
  top: 10%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 300px;
  width: 200%;
}

.logo {
  height: 60px;
  width: 62px;
}
