.bold-text {
  font-weight: 900;
}

.push-down-content {
  margin-top: 10%;
}

.push-down-unit {
  margin-top: $base-unit;
}

.has-inline-content {
  display: inline;
}

.brand-text {
  color: $brand;
}
