.button,
.button::after {
  transition: all .3s;
}

.button {
  font-family: 'bonvenocflight';
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto;
  display: table;
  background: none;
  border: 2px solid $alt;
  color: $alt;
  font-size: $basic-font-big;
  width: 200px;
  box-sizing: border-box;
  padding: 15px 0;
  letter-spacing: 1px;
  position: relative;
  cursor: pointer;

  a {
    color: $alt;
  }
}

.button::before,
.button::after {
  background: $alt;
  content: '';
  position: absolute;
  z-index: -1;
}

.button:hover {
  color: $white;
  z-index: 1;

  a {
    color: $white;
  }
}

.button:focus {
  outline: none;
}

.button-ghost {
  overflow: hidden;
  display: block;
}

.button-ghost::after {
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(40deg);
  transition-duration: .6s;
  transform-origin: top right;
  width: 0;
}

.button-ghost:hover:after {
  height: 100%;
  width: 135%;
}

.button-send {
  display: inline;
  background-color: $white;
  border: 2px solid $white;
  color: $brand;
  width: inherit;
  margin-top: 2 * $base-unit;
  
  &:hover {
    background: none;
    color: white;
  }
}

.button-small {
  font-size: 15px;
  width: 290px;
  margin-bottom: 40px;
  margin-left: 30px;
  padding: 15px 0;
  display: block;
}

// gallery close button 
.button-close {
  position: fixed;
  top: 0;
  right: .5em;
  font-size: 2.5em;
  text-decoration: none;
  color: $alt;
  width: 1em;
  height: 1em;
  text-align: center;
  z-index: 99999;
  cursor: pointer;
}

// menu button
.js-menu-button {
  margin: 30px 20px;
  float: right;
  width: 56px;
  height: 56px;
  cursor: pointer;
  position: relative;
  user-select: none;
  z-index: 1;

  .bar-top,
  .bar-bottom {
    width: 52px;
    animation: scales .6s;

    .bar-half-left {
      width: 52%;
      height: 4px;
      background: $alt;
      display: inline-block;
      margin-right: 0;
      position: relative;
      transition: all .2s;
    }

    .bar-half-right {
      width: 52%;
      height: 4px;
      background: $alt;
      display: inline-block;
      margin-right: -4px;
      position: relative;
      transition: all .2s;
    }
  }

  .bar-middle {
    width: 54px;
    height: 0;
    display: inline-block;
    border: 2px solid $alt;
    box-sizing: border-box;
    animation: scales .5s;
  }
}

.js-menu-button.active {
  padding-top: 5px;
  box-sizing: border-box;
  
  .bar-top {
    animation: scales .5s;

    .bar-half-left {
      transform: rotate(45deg) scale(1.2);
      left: 4px;
      top: 0;
      border-radius: 5px;
    }

    .bar-half-right {
      transform: rotate(-45deg) scale(1.2);
      right: 4px;
      top: 1px;
      border-radius: 5px;
    }
  }

  .bar-middle {
    display: none;
  }

  .bar-bottom {
    animation: scales .5s;

    .bar-half-left {
      transform: rotate(-45deg) scale(1.2);
      left: 4px;
      top: 2px;
      border-radius: 5px;
    }

    .bar-half-right {
      transform: rotate(45deg) scale(1.2);
      right: 4px;
      top: 1px;
      border-radius: 5px;
    }
  }
}
