.form {
  display: flex;
  flex-direction: column;
  background-color: $brand;
  width: 350px;
}

.form-input {
  background-color: $brand;
  border: 2px solid $white;
  padding: $base-unit 2 * $base-unit;
  margin: $base-unit 0;
  width: auto;
  font-size: $basic-font-small;
  font-family: 'bonvenocflight';
  font-weight: 300;
  color: $white;
  outline: none;
}

.input-message {
  height: 170px;
}
