
@media screen and (max-width: 890px) {

  .section-contact {
    .section-heading {
      position: relative;
    }
  }
}

@media screen and (max-width: 710px) {

  .section-contact {
    background-color: $brand;
    background-image: none;

    .section-overlay {
      background-color: transparent;
    }
  }

  .section-contact:before {
    display: none;
  }
}

@media screen and (max-width: 596px) {

  .section-contact {
    .contact-content {
      float: left;
      max-width: 100%;
      margin-left: 15%;
    }
  }
}

@media screen and (max-width: 480px) {

  .section-contact {
    .contact-content {
      padding-top: $base-unit;
      margin-left: 10%;
    }
  }

  .form {
    width: 300px !important;
  }
}

@media screen and (max-width: 365px) {

  .section-contact {
   .section-heading {
      margin-left: 10px;
      font-size: 45px !important;
    }
  }
  .form {
    width: 250px !important;
  }
}
