// Typography - font sizes

// headings
$large-font: 80px;
// subheadings
$medium-font: 54px;
// buttons, footer content
$basic-font-big: 18.5px;
// content
$basic-font-small: 16px;


// colors
$white: #fff;
$alt: #808080;
$brand: #52bebe;

// units
$base-unit: 10px;
