
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-behance:before { content: '\e802'; } /* '' */
.icon-github:before { content: '\e803'; } /* '' */
.icon-codepen:before { content: '\e804'; } /* '' */
.icon-instagram:before { content: '\e805'; } /* '' */