@import 'galleries.scss';

@media (max-width: 810px) {

  .gallery-illustrations,
  .gallery-branding,
  .gallery-web {
    &:before {
      display: none;
    }
  }
  
  .gallery-heading {
    text-align: center;
    margin: 20px 0 !important;
  }
}

@media (max-width: 480px) {
  
  .gallery {
    max-width: 100%;
  }

  .gallery-active img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: auto;
  }
}

.gallery-section {
  overflow: hidden;
  position: relative;
}

.gallery-illustrations,
.gallery-branding,
.gallery-web {
  overflow: hidden;
  position: static;

  &:before {
    @include triangle-pseudoclass;
    background-color: lighten($alt, 45%);
    transform: rotate(-75deg);
    height: 800px;
    width: 300%;
    z-index: 0;
    right: -57%;
    top: 25%;
  }
}

@media (max-width: 965px) {
  .gallery-illustrations,
  .gallery-branding,
  .gallery-web {
    &:before {
      transform: rotate(-65deg);
      right: -30%;
      top: 22%;
    }
  }
}
