@import 'section-styles/footer';
@media screen and (max-width: 768px) and (min-width: 480px) {
  .social-icon {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .social-icons {
    font-size: $mq-basic-font-big;
  }
}
@media screen and (max-width: 383px) {
  .logo {
    margin-top: 2 * $base-unit;
  }

  .social-icons {
    font-size: $mq-basic-font-small;
    max-width: 200px;
    margin: 0;
    padding: 0;
  }

  .col-1,
  .col-2 {
    display: block;
    padding: 20px;
  }
}
