@import 'section-styles/main';

// media queries for devices with 840px, 596px & 480px max width


// logo style
@media screen and (max-width: 1110px) {
  .logo-header {
    padding-left: 10 * $base-unit;
  }   
}

// devices with max 840 px width
@media screen and (max-width: 840px) {
  .section-1-header {
    height: 640px;
  }

  .section-1-header:before {
    left: 20%;
    transform: rotate(45deg);
    height: 300px;
    width: 200%;
  }

  .section-1-header:after {
    right: 35%;
    top: 28%;
    transform: rotate(45deg);
    height: 300px;
    width: 200%;
  } 

  .portfolio-heading {
    font-size: $mq-large-font !important;
  }
}

// devices with max 596 px width
@media screen and (max-width: 596px) {
  .section-1-header {
    .section-content {
      margin-top: 30%;
    }
  }

  .section-1-header:before {
    left: 30%;
    transform: rotate(45deg);
    height: 300px;
    width: 200%;
  }

  .section-1-header:after {
    right: 35%;
    top: 40%;
    transform: rotate(45deg);
    height: 300px;
    width: 200%;
  }

  .logo-header {
    padding-left: 0;
  }  

  .portfolio-heading {
    font-size: 60px !important;
  }   
}

// devices with max 480px width
@media screen and (max-width: 480px) {

   .section-1-header {
    .section-content {
      margin-top: 40%;
    }
  }

  .section-1-header:before {
    left: 40%;
    transform: rotate(45deg);
    height: 300px;
    width: 200%;
  }

   .section-1-header:after {
    right: 35%;
    top: 60%;
    transform: rotate(45deg);
    height: 300px;
    width: 200%;
  }

  .portfolio-heading {
    font-size: 48px !important;
  }  
}


// menu styling 790px width

@media screen and (max-width: 790px) {
  .menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 145px;
  }

  .menu-active-js {
    max-height: 145px;
  }
}