@import 'section-styles/work';

@media screen and (max-width: 840px) {

  .section-3-work {
    height: 620px;

    h2 {
      font-size: $mq-large-font !important;
    }
  }

  .section-3-work:after {
    right: -12%;
    top: 20%;
    transform: rotate(45deg);
  }
}


@media screen and (max-width: 667px) {
  .section-3-work {
    height: 500px;
  }
}

@media screen and (max-width: 480px) {

  .section-3-work {
    height: 400px;

    .section-content {
      top: 50px;
    }

    h2 {
      font-size: $mq-big-font !important;
    }
  }
}

// work-subsections
@media screen and (max-width: 800px) {
  .section-3a-web,
  .section-3c-draw {

    h3 {
      margin: 12% 5% 0 0 !important;
    }

    .white-button {
      margin: 15% 0 0 10% !important;
    }
  }

  .section-3b-graphic {

    h3 {
      margin: 12% 0 0 5% !important;
    }

    .white-button {
      margin: -5% 5% 0 0 !important;
    }
  }
}

@media screen and (max-width: 480px) {
  .section-3a-web,
  .section-3c-draw {

    h3 {
      margin-right: 0 !important;
    }

    .white-button {
      float: right;
      border: 2px solid $grey;
      margin: 5% 10% 0 0 !important;
    }

    &:before {
      top: 30%;
    }
  }

  .section-3b-graphic {

    h3 {
      margin: 20% 0 0 5% !important;
    }

    .white-button {
      border: 2px solid $grey;
      float: left !important;
      margin: 5% 0 0 10% !important;
    }
  }
}
@media screen and (max-width: 320px) {
  .section-3a-web,
  .section-3c-draw {

    &:before {
      top: 20%;
    }
  }
}
